@model BusinessMaster.Models.ViewModels.BusinessMasterViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container" style="margin-top: 80px">
    <h2 class="text-center mt-5" style="color:#020240">Client Edit</h2>
    <hr />
    <div class="row">
        <div class="col ml-5">
            <form asp-action="Edit" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ClientId" />
                    <div class="form-group">
                        <label class="control-label">Client Name</label>
                        <input asp-for="ClientName" class="form-control" />
                        <span asp-validation-for="ClientName" class="text-danger"></span>
                    </div>
                    <div class="form-group ml-2">
                        <label asp-for="ClientAge" class="control-label">Age</label>
                        <input asp-for="ClientAge" class="form-control" />
                        <span asp-validation-for="ClientAge" class="text-danger"></span>
                    </div>
                    <div class="form-group ml-2">
                        <label class="control-label">Budget</label>
                        <input asp-for="ClientBudget" class="form-control" />
                        <span asp-validation-for="ClientBudget" class="text-danger"></span>
                    </div>
                    <div class="form-group ml-2">
                        <label class="control-label">Service Name</label>
                        <select asp-for="ServicesNameId" class="form-control" asp-items="ViewBag.ServicesNameId"></select>
                        <span asp-validation-for="ServicesNameId" class="text-danger"></span>
                    </div>
                    

                </div>
                <div class="row">

                    <div class="form-group">
                        <img src="~/img/default.png" width="80" height="80" id="imagePreview" class="mb-3 ml-5" />
                        <input asp-for="PicturPath" id="Imageone" class="form-control mt-5" />
                        <span asp-validation-for="PicturPath" class="text-danger"></span>
                    </div>
                    <div class="form-group ml-2" style="margin-top:90px">
                        <label class="control-label">Delivery Date</label>
                        <input asp-for="WorkDeliveryDate" type="date" class="form-control" />
                        <span asp-validation-for="WorkDeliveryDate" class="text-danger"></span>
                    </div>

                    <div class="form-group ml-3" style="margin-top:90px">
                        <button type="submit"  value="Create" class="btn btn-primary my-5"><i class="fas fa-save fa-lg"> Update</i></button>
                        <a class="btn btn-warning my-5" asp-action="Index"><i class="fas fa-caret-square-right fa-lg"> Back To List</i></a>
                    </div>

                </div>
                <hr />
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $('#Imageone').change(function (event) {
            var tmppath = URL.createObjectURL(event.target.files[0]);
            $("#imagePreview").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
        });
    </script>
}
