
<div class="d-flex justify-content-center mr-3">
    <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>&nbsp;
    <p class="btn btn-success">Data inserted successfully!!!!</p>
    &nbsp;
    <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>