
@{
    ViewData["Title"] = "Features";
}

<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-uppercase mb-4">HR, CRM &amp; Project Task Management Feature</h2>
                <ul class="breadcrumb mb-0 justify-content-center">
                    <li class="breadcrumb-item"><a href="#"> Home</a></li>
                    <li class="breadcrumb-item active">HR, CRM &amp; Project Task Management Feature</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- START Saas Features -->
<section class="border-bottom bg-white sp-100 pb-3 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>Dynamic Dashboard</h3>
                    <p>Get all reports of&nbsp; total clients, total employees, total projects, pending tasks,&nbsp; completed tasks, today attendance, recent earnings.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-chart-pie"></i>
                    </div>
                    <h5>Project Dashboard</h5>
                    <p class="mb-0">Get overall report about your project information status wise. You can download project information, manage projects quite simple.  </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-users"></i>
                    </div>
                    <h5>Client Dashboard</h5>
                    <p class="mb-0">Get overall information about your clients, earnings, total leads, total contracts signed in one place. Manage your clients easily.&nbsp; </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-user"></i>
                    </div>
                    <h5>HR Dashboard</h5>
                    <p class="mb-0">Your hired employees details will appears in&nbsp; HR (Human Resource) dashboard. Download employees information&nbsp;Without any hassles. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="far fa-credit-card"></i>
                    </div>
                    <h5>Finance Dashboard</h5>
                    <p class="mb-0">Get finances overview of paid invoices, earning by clients and projects, proposals, due payments and more information in one place. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                    <h5>Tickets</h5>
                    <p class="mb-0"><div>When someone facing a problem, they can raise a ticket for their problems. Admin assign the tickets to respective department agents.<br></div> </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <h5>Login as Employee</h5>
                    <p class="mb-0">Admin can login as employee as necessary. Admin can view employee dashboard, handle employees task as well with some simple steps.&nbsp; </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- START Saas Features -->
<section class="border-bottom bg-white sp-100 pb-3 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>Client Management</h3>
                    <p>manage clients, add clients, edit clients, view client's info in a single system.<br></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-address-card"></i>
                    </div>
                    <h5>View clients details</h5>
                    <p class="mb-0">Get all clients information such as name, company name, mail address and others details. View clients profile, contact clients easily.&nbsp; </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <h5>Add clients</h5>
                    <p class="mb-0">Add more clients by providing there necessary&nbsp; information and store them in clients list. Manage Clients information easily. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fab fa-slideshare"></i>
                    </div>
                    <h5>View leads details</h5>
                    <p class="mb-0"><div>Get all leads information such as name, company name, mail address and others details. View leader profile, contact leaders easily.&nbsp;<br></div> </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <h5>Add leads</h5>
                    <p class="mb-0"><div>Add more leads by providing there necessary&nbsp; information and store them in leads list.Manage leads information easily.<br></div> </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-user-times"></i>
                    </div>
                    <h5>Edit / Delete</h5>
                    <p class="mb-0">You can edit clients and leads information from clients list and leads list. You can delete client and leaders information if necessary. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-upload"></i>
                    </div>
                    <h5>Export Clients and Leads</h5>
                    <p class="mb-0"><p>You can export and download client and leader information in excel and csv format as necessary just in one click and use them as per your need.<br></p><p> </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- START Saas Features -->
<section class="border-bottom bg-white sp-100 pb-3 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>HR Management</h3>
                    <p>Human resource management (HRM) is the practice of recruiting, hiring, deploying and managing&nbsp; employees.&nbsp; You can manage all employee information's,&nbsp; edit/ delete employee and</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-user-secret"></i>
                    </div>
                    <h5>View employee details</h5>
                    <p class="mb-0"><div>Get all employee information such as name, company name, mail address and others details. View employee profile, contact employee easily.&nbsp;<br></div> </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <h5>Add Employee</h5>
                    <p class="mb-0"><div>Add more employee by providing there necessary&nbsp; information and store them in employee list. Manage employees information easily.<br></div> </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-building"></i>
                    </div>
                    <h5>Manage Department</h5>
                    <p class="mb-0">View all departments list, manage departments, add department, edit department as per as your need in a single system. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-boxes"></i>
                    </div>
                    <h5>Designation Management</h5>
                    <p class="mb-0">View designation list, manage employee designation, add designation, edit/delete designation in one place with some simple steps. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-id-card"></i>
                    </div>
                    <h5>Attendance Management</h5>
                    <p class="mb-0">View employee monthly&nbsp; attendances, manage attendances, make attendances, edit attendances simple. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-calendar"></i>
                    </div>
                    <h5>Leaves &amp; Holidays</h5>
                    <p class="mb-0">Manage company holidays, view holidays, add holidays, edit/delete holidays, view assign leaves, add assign leaves, edit/delete assign leaves. </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- START Saas Features -->
<section class="border-bottom bg-white sp-100 pb-3 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>Product Management</h3>
                    <p>mange all your product, add product, view product in a single place</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-cart-arrow-down"></i>
                    </div>
                    <h5>Add Product</h5>
                    <p class="mb-0"><div>Add more Product by providing there necessary&nbsp; information and store them in Product list. Manage your product easily.<br></div> </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-box"></i>
                    </div>
                    <h5>View product details</h5>
                    <p class="mb-0"><div>Get all product information such as name, price, purchase allow/disallow and others details. edit/delete product as necessary.<br></div> </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-upload"></i>
                    </div>
                    <h5>Export product details</h5>
                    <p class="mb-0"><div>You can export and download product&nbsp;information in excel and csv format as necessary just in one click and use them as per your need.<br></div> </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- START Saas Features -->
<section class="border-bottom bg-white sp-100 pb-3 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>Conversation with clients and leads</h3>
                    <p>You can make conversation with clients and leads from this place. When you get a message you will get a notification.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <h5>view messages</h5>
                    <p class="mb-0">You can view old and new messages and send message to your clients and leads.&nbsp;Manage messages in a single platform . </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-edit"></i>
                    </div>
                    <h5>Start conversation</h5>
                    <p class="mb-0">You can start a new conversation for communicate with your clients, leads, employees and other's as per as your need smartly. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-upload"></i>
                    </div>
                    <h5>Export conversation</h5>
                    <p class="mb-0"><div>You can export and download&nbsp;&nbsp;your conversation in excel and csv format as necessary just in one click and use them as per your need.<br></div> </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- START Saas Features -->
<section class="border-bottom bg-white sp-100 pb-3 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>Manage Events</h3>
                    <p>You can view, edit, delete,add events. Manage events projects and information.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="far fa-calendar"></i>
                    </div>
                    <h5>view events</h5>
                    <p class="mb-0">You can view old and new events in calendar. You can edit/delete events easily. You can manage events easily. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="far fa-calendar-plus"></i>
                    </div>
                    <h5>Add Events</h5>
                    <p class="mb-0">You can add new events by providing events information, events date and store them in events list. Manage events easily. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-upload"></i>
                    </div>
                    <h5>Export Events</h5>
                    <p class="mb-0"><div>You can export and download&nbsp; your events information&nbsp;in excel and csv format as necessary just in one click and use them as per your need.<br></div> </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- START Saas Features -->
<section class="border-bottom bg-white sp-100 pb-3 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>Notice Board Management</h3>
                    <p><font-color="#4d5156" face="arial, sans-serif"><span style="font-size: 14px;">You can attach a wall to display notices giving information about something important about your company.</span><</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="far fa-window-maximize"></i>
                    </div>
                    <h5>View Notice</h5>
                    <p class="mb-0">You can view and manage your all notices, edit/delete notices from notice board in a single system. Manage notice board easily. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-window-restore"></i>
                    </div>
                    <h5>Add New Notice</h5>
                    <p class="mb-0">Add new notice by providing necessary&nbsp; information for employee and clients. Attach file and department.&nbsp; </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-upload"></i>
                    </div>
                    <h5>Export notices</h5>
                    <p class="mb-0"><div>You can export and download notices&nbsp;information in excel and csv format as necessary just in one click and use them as per your need.<br></div> </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- START Saas Features -->
<section class="border-bottom bg-white sp-100 pb-3 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>Finance Management</h3>
                    <p>Financial management refers to the strategic planning, organizing, directing, and controlling of financial undertakings in your organisation or&nbsp; institute.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-calculator"></i>
                    </div>
                    <h5>Estimate finance</h5>
                    <p class="mb-0">The finance executives have to estimate the amount of fixed capital and working capital required in a given period of time as necessary. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-money-bill-alt"></i>
                    </div>
                    <h5>Invoice</h5>
                    <p class="mb-0">An invoice is a time-stamped commercial document that itemizes and records a transaction between a buyer and a seller.&nbsp; </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="far fa-credit-card"></i>
                    </div>
                    <h5>Payments management</h5>
                    <p class="mb-0">You can view and manage all recent payments details after a clients pay for a product. You can handle paid on method and more things.&nbsp; </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-cart-arrow-down"></i>
                    </div>
                    <h5>Expense Managemant</h5>
                    <p class="mb-0">The cost of your project that your company incurs to generate revenue. As the popular saying goes, “it costs money to make money.” </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="far fa-edit"></i>
                    </div>
                    <h5>Credit note management</h5>
                    <p class="mb-0">On the credit note, the supplier will list the products, quantities and product or service prices that were agreed-upon by both parties.&nbsp; </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-upload"></i>
                    </div>
                    <h5>Export Finance Details</h5>
                    <p class="mb-0"><div>You can export and download overall Finance information in excel and csv format as necessary just in one click and use them as per your need.<br></div><div><br></div> </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- START Saas Features -->
<section class="border-bottom bg-white sp-100 pb-3 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>Analyse reports</h3>
                    <p>Analyse your business product and project sales situation. Employee attendance, new clients, clients and leads response situations.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-tasks"></i>
                    </div>
                    <h5>Task Management Report</h5>
                    <p class="mb-0"><span style="color: rgb(51, 51, 51); " helvetica="" neue",="" helvetica,="" texgyreherosregular,="" arial;="" 14.6667px;"="">Task management report is an irreplaceable tool that lets you both focus on your projects and knowledge of your company activity as a whole.</span> </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="far fa-clock"></i>
                    </div>
                    <h5>Employee Time Track</h5>
                    <p class="mb-0">Track the working hours of employees and ensure better earning.It's track employee entry time, leave time, total working hour and earning. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <h5>Finance Report</h5>
                    <p class="mb-0">Provide reports about your company earnings from which clients, which leads, which department, which project and payments methods.&nbsp; </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-chart-pie"></i>
                    </div>
                    <h5>Income Vs Expanse Report</h5>
                    <p class="mb-0">Provide reports between&nbsp; of your company income and expanse, income and expanse ways and Income and expanse methods.&nbsp; </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="far fa-chart-bar"></i>
                    </div>
                    <h5>Attendance Report</h5>
                    <p class="mb-0">Provide reports of your company employee attendance. Download attendance report and use them as per as your need.&nbsp; </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-upload"></i>
                    </div>
                    <h5>Export Report Details</h5>
                    <p class="mb-0"><div>You can export and download overall Report&nbsp;information in excel and csv format as necessary just in one click and use them as per your need.<br></div> </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- START Saas Features -->
<section class="border-bottom bg-white sp-100 pb-3 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>Other Features</h3>
                    <p>We have some more features for you as like filter, notification, your bill details and more.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-bell"></i>
                    </div>
                    <h5>Notification</h5>
                    <p class="mb-0">You will get notification when a project completed, task completed, employee send message, request for leave and more as necessary. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-user"></i>
                    </div>
                    <h5>Membership Billing</h5>
                    <p class="mb-0">You can handle your membership billing information. Pay your bill, get billing information. You can manage your invoices from here as well.&nbsp; </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-question-circle"></i>
                    </div>
                    <h5>Admin FAQ</h5>
                    <p class="mb-0">You can answer frequently asked question (FAQ) about your business or company, project, employee requirements and other FAQ's. </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-wrench"></i>
                    </div>
                    <h5>Settings Manage</h5>
                    <p class="mb-0">You can manage your business information, owner information, business suite site logo, title and more other settings in one place.&nbsp;&nbsp; </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-edit"></i>
                    </div>
                    <h5>Sticky Note</h5>
                    <p class="mb-0">You can create sticky notes as necessary and handle them simple.&nbsp; Give them unique design for remembering your tasks.&nbsp; </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-plus"></i>
                    </div>
                    <h5>Adding info easily</h5>
                    <p class="mb-0">You can add more employee, add project, add task, add client, add payment without any hesitation from any where in this platform.&nbsp; </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- START Saas Features -->
<section class="border-bottom bg-white sp-100 pb-3 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>Task Management</h3>
                    <p><div>Manage your projects and your talent in a single system, resulting in empowered teams, satisfied clients, and increased profitability.<br></div></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-tv"></i>
                    </div>
                    <h5>Track Projects</h5>
                    <p class="mb-0"><div>Keep track all of your projects in the most simple way. View project information. Mange your project with some easy steps.<br></div> </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-users"></i>
                    </div>
                    <h5>Add Members</h5>
                    <p class="mb-0"><div>Add members to your projects and keep them in sync with the progress. Manage project members and handle them easily.<br></div> </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-60">
                <div class="saas-f-box">
                    <div class="align-items-center icon justify-content-center">
                        <i class="fas fa-list"></i>
                    </div>
                    <h5>Assign Tasks</h5>
                    <p class="mb-0"><div>You can assign new tasks and manage task, edit task, manage member as per as your need with some simple steps easily.&nbsp;</div> </p>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- START Clients Section -->
<div class="clients bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 mb-30 text-center">
                <p class="c-blue mb-2">Trusted by the world&#039;s best team</p>
                <h4>More Than 700+ People Use Our Business Suite Software</h4>

            </div>
            <div class="col-12">
                <div class="client-slider" id="client-slider">
                    <div class="client-img">
                        <div class="img-holder">
                            <img src="~/user-uploads/front/client/eeb17f0b6f44c558961f53723fffb6a9.png" alt="partner">
                        </div>
                    </div>
                    <div class="client-img">
                        <div class="img-holder">
                            <img src="~/saas/img/home/client-2.png" alt="partner">
                        </div>
                    </div>
                    <div class="client-img">
                        <div class="img-holder">
                            <img src="~/saas/img/home/client-3.png" alt="partner">
                        </div>
                    </div>
                    <div class="client-img">
                        <div class="img-holder">
                            <img src="~/user-uploads/front/client/d3f92f38191bd89db5a61997ddb58e22.png" alt="partner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Clients Section -->
<!-- START Integration Section -->
<section class="sp-100-70 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>Integrate With Your Favourite Apps.</h3>
                    <p>Our app gives you the added advantage of several other third party apps through seamless integrations.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-30 wow fadeIn" data-wow-delay="0.4s">
                <div class="integrate-box shadow">
                    <img src="~/saas/img/pages/app-2.png" alt="OneSignal">
                    <h5 class="mb-0">OneSignal </h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-30 wow fadeIn" data-wow-delay="0.4s">
                <div class="integrate-box shadow">
                    <img src="~/saas/img/pages/app-5.png" alt="Slack">
                    <h5 class="mb-0">Slack </h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-30 wow fadeIn" data-wow-delay="0.4s">
                <div class="integrate-box shadow">
                    <img src="~/saas/img/pages/app-0.png" alt="Paypal">
                    <h5 class="mb-0">Paypal </h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Integration Section -->
<!-- Cta -->
<section class="cta-section position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-12 mb-30">
                <h3 class="mb-4">Managing Business Has Never Been So Easy.</h3>
                <p class="mr-lg-5 pr-lg-5 mb-0">Don&#039;t hesitate, Our experts will show you how our application can streamline the way your team works.</p>
            </div>
            <div class="col-lg-3 offset-lg-1 text-lg-right col-12 mb-30">
                <a href="signup.html" class="btn btn-custom btn-lg wow pulse" data-wow-delay="0.4s">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>

