@{
    ViewData["Title"] = "Home Page";
}

<section class="section-hero">
    <div class="banner position-relative">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12 text-lg-left text-center">
                    <div class="banner-text mr-0 mr-lg-5">
                        <h3 class="mb-3 mb-md-4">  One Place - HR, CRM &amp; Project Management System</h3>
                        <p>
                            The most powerful and simple way to collaborate with your team.<ul class="list1 border-top pt-5 mt-5">
                                <li class="mb-3">
                                    Create invoices &amp; Estimates
                                </li>
                                <li class="mb-3">
                                    Tracks time and expenses
                                </li>
                                <li class="mb-3">
                                    Add company’s employees, track their attendance and manage leaves
                                </li>
                            </ul>
                        </p>
                        <a asp-controller="Account" asp-action="Signup" class="btn btn-lg btn-custom mt-4 btn-outline">Start 30 days free trial </a>
                    </div>
                </div>
                <div class="col-lg-6 col-12 d-lg-block wow zoomIn" data-wow-delay="0.2s">
                    <div class="banner-img shadow1">
                        <img src="~/saas/img/home/home-crm.png" alt="business" class="shadow1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="js-cookie-consent cookie-consent alert alert-info text-center mb-0 border-radius-0">

    <span class="cookie-consent__message">
        Your experience on this site will be improved by allowing cookies.
    </span>

    <button class="js-cookie-consent-agree cookie-consent__agree btn btn-success">
        Allow cookies
    </button>

</div>

<script>window.laravelCookieConsent = (function () {

            const COOKIE_VALUE = 1;
            const COOKIE_DOMAIN = 'businesssuite.us';

            function consentWithCookies() {
                setCookie('laravel_cookie_consent', COOKIE_VALUE, 7300);
                hideCookieDialog();
            }

            function cookieExists(name) {
                return (document.cookie.split('; ').indexOf(name + '=' + COOKIE_VALUE) !== -1);
            }

            function hideCookieDialog() {
                const dialogs = document.getElementsByClassName('js-cookie-consent');

                for (let i = 0; i < dialogs.length; ++i) {
                    dialogs[i].style.display = 'none';
                }
            }

            function setCookie(name, value, expirationInDays) {
                const date = new Date();
                date.setTime(date.getTime() + (expirationInDays * 24 * 60 * 60 * 1000));
                document.cookie = name + '=' + value
                    + ';expires=' + date.toUTCString()
                    + ';domain=' + COOKIE_DOMAIN
                    + ';path=/';
            }

            if (cookieExists('laravel_cookie_consent')) {
                hideCookieDialog();
            }

            const buttons = document.getElementsByClassName('js-cookie-consent-agree');

            for (let i = 0; i < buttons.length; ++i) {
                buttons[i].addEventListener('click', consentWithCookies);
            }

            return {
                consentWithCookies: consentWithCookies,
                hideCookieDialog: hideCookieDialog
            };
        })();</script>


<div class="clients bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 mb-30 text-center">
                <p class="c-blue mb-2">Trusted by the world&#039;s best team</p>
                <h4>More Than 700+ People Use Our Business Suite Software</h4>

            </div>
            <div class="col-12">
                <div class="client-slider" id="client-slider">
                    <div class="client-img">
                        <div class="img-holder">
                            <img src="~/user-uploads/front/client/eeb17f0b6f44c558961f53723fffb6a9.png" alt="partner">
                        </div>
                    </div>
                    <div class="client-img">
                        <div class="img-holder">
                            <img src="~/saas/img/home/client-2.png" alt="partner">
                        </div>
                    </div>
                    <div class="client-img">
                        <div class="img-holder">
                            <img src="~/saas/img/home/client-3.png" alt="partner">
                        </div>
                    </div>
                    <div class="client-img">
                        <div class="img-holder">
                            <img src="~/user-uploads/front/client/d3f92f38191bd89db5a61997ddb58e22.png" alt="partner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- START Saas Features -->
<section class="saas-features bg-white overflow-hidden">
    <div class="container">
        <div class="sp-100">
            <div class="row align-items-center">
                <div class="col-lg-6 pr-lg-5">
                    <h3>Meet Your Business Needs</h3>
                    <p><p>Manage your projects and your talent in a single system, resulting in empowered teams, satisfied clients, and increased profitability.</p><ul class="list1 border-top pt-5 mt-5">
                        <li class="mb-3">
                            Keep a track of all your projects in most simple way.
                        </li>
                        <li class="mb-3">
                            Assign tasks to project members and track the status.
                        </li>
                        <li class="mb-3">
                            Add members to your projects and keep them in sync  with the progress.
                        </li>
                    </ul><p><br></p><ul class="list1 border-top pt-5 mt-5">
                    </ul>
                </div>
                <div class="col-lg-6 wow fadeIn  d-lg-block" data-wow-delay="0.2s">
                    <div class="mock-img">
                        <img src="~/saas/img/svg/mock-banner.svg" alt="mockup">
                    </div>
                </div>
            </div>
        </div>
        <div class="sp-100 pt-0">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1 wow fadeIn  d-lg-block" data-wow-delay="0.2s">
                    <div class="mock-img">
                        <img src="~/saas/img/svg/mock-2.svg" alt="mockup">
                    </div>
                </div>
                <div class="col-lg-6 pl-lg-5 order-lg-2">
                    <h3>Analyse Your Workflow</h3>
                    <p><p>Reports section to analyse what's working and what's not for your business</p><ul class="list1 border-top pt-5 mt-5">
                        <li class="mb-3">
                            It Shows how much you earned and how much you spent.
                        </li>
                        <li class="mb-3">
                            Tiket report shows you Open vs Closed tickets.
                        </li>
                        <li class="mb-3">
                            It creates task report to track completed vs pending tasks.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="sp-100">
            <div class="row align-items-center">
                <div class="col-lg-6 pr-lg-5">
                    <h3>Manage your support tickets efficiently</h3>
                    <p><p>Whether someone's internet is not working, someone is facing issue with housekeeping or need something regarding their work they can raise a ticket for all their problems.</p><ul class="list1 border-top pt-5 mt-5"><li class="mb-3">Admin can assign the tickets to respective department agents.</li></ul>
                </div>
                <div class="col-lg-6 wow fadeIn  d-lg-block" data-wow-delay="0.2s">
                    <div class="mock-img">
                        <img src="~/saas/img/svg/mock-1.svg" alt="mockup">
                    </div>
                </div>
            </div>
        </div>
        <div class="sp-100 pt-0">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1 wow fadeIn  d-lg-block" data-wow-delay="0.2s">
                    <div class="mock-img">
                        <img src="~/user-uploads/front/feature/e182a8d28daa7a3e01dbc4dcc5b2bb86.gif" alt="mockup">
                    </div>
                </div>
                <div class="col-lg-6 pl-lg-5 order-lg-2">
                    <h3>HR, CRM &amp; Project Management System</h3>
                    <p><p>The most powerful and simple way to collaborate with your team.</p><ul class="list1 border-top pt-5 mt-5"><li class="mb-3">Create invoices &amp; Estimates</li><li class="mb-3">Tracks time and expenses</li><li class="mb-3">Add company’s employees, track their attendance and manage leaves</li></ul><p> </p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- END Saas Features -->
<!-- START Features -->
<section class="features bg-light sp-100-70">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-60">
                    <h3>Use Better Solutions Build Better Something</h3>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mb-30 wow fadeIn" data-wow-delay="0.2s">
                <div class="feature-box bg-white br-10 text-center">
                    <span class="align-items-center d-inline-flex icon justify-content-center mx-auto">
                        <i class="fas fa-box"></i>
                    </span>
                    <h5>Manage Projects</h5>
                    <p>Create and choose from project templates. See project progress, share files, and see project chart.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-30 wow fadeIn" data-wow-delay="0.2s">
                <div class="feature-box bg-white br-10 text-center">
                    <span class="align-items-center d-inline-flex icon justify-content-center mx-auto">
                        <i class="fas fa-users"></i>
                    </span>
                    <h5>Manage Clients (CRM)</h5>
                    <p>Manage leads & clients in one place. Track all of your leads, potential clients & customers in one place.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-30 wow fadeIn" data-wow-delay="0.2s">
                <div class="feature-box bg-white br-10 text-center">
                    <span class="align-items-center d-inline-flex icon justify-content-center mx-auto">
                        <i class="fas fa-dollar-sign"></i>
                    </span>
                    <h5>Manage Finances</h5>
                    <p>Create professional invoices, send estimates, accept and track online payments, add credit notes</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-30 wow fadeIn" data-wow-delay="0.2s">
                <div class="feature-box bg-white br-10 text-center">
                    <span class="align-items-center d-inline-flex icon justify-content-center mx-auto">
                        <i class="fab fa-angellist"></i>
                    </span>
                    <h5>Manage Employees</h5>
                    <p>Manage your employee's attendance, leaves, holidays, log time, update tasks and events in one place.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-30 wow fadeIn" data-wow-delay="0.2s">
                <div class="feature-box bg-white br-10 text-center">
                    <span class="align-items-center d-inline-flex icon justify-content-center mx-auto">
                        <i class="fas fa-tasks"></i>
                    </span>
                    <h5>Manage Tasks</h5>
                    <p>Assign tasks to your team & track their progress. Use Tasks Kanban Board & Task Calendar schedule</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-30 wow fadeIn" data-wow-delay="0.2s">
                <div class="feature-box bg-white br-10 text-center">
                    <span class="align-items-center d-inline-flex icon justify-content-center mx-auto">
                        <i class="fas fa-chart-line"></i>
                    </span>
                    <h5>Insightful Reporting</h5>
                    <p>Get actionable insights about your business Reporting. Create helpful reports to grow your business</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Features -->


<section class="section-testimonial bg-white sp-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title mb-5">
                    <h3>WHAT OUR CUSTOMERS SAY</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div id="testimonial-slider" class="testimonial-slider mb-0 text-center">
                    <div class="testimonial-item">
                        <div class="client-info">
                            <p class="mb-4">
                                I’ve finally started using Business Suite religiously and I am obsessed! It took me ages to take it up but as soon as my business started operating like a business I was drowning in work and Business Suite has really been amazing at helping me manage my time and be more mindful of the value of my time.
                                At the end of each day, I have a big smile of satisfaction so I wanted to pass on the kudos :) thanks for making my days run smoothly
                            </p>
                            <h5 class="mb-1">Jon M. Perry</h5>
                        </div>
                        <div class="rating text-warning">
                            <i class="zmdi zmdi-star "></i>
                            <i class="zmdi  zmdi-star  "></i>
                            <i class="zmdi   zmdi-star "></i>
                            <i class="zmdi   zmdi-star "></i>
                            <i class="zmdi   zmdi-star "></i>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="client-info">
                            <p class="mb-4">Finding a task manager that was cost effective and that met our requirements for our agency was difficult due to the amount of options in the market! That’s until we found Business Suite. It’s UX is extremely easy to navigate for a growing team and the client list and email integration is perfect for the 100+ clients and 230 odd tasks a day for us. After 1.5 years utilising the platform we still get excited when developments are made which make our work easier.</p>
                            <h5 class="mb-1">Stephanie O&#039;Brien</h5>
                        </div>
                        <div class="rating text-warning">
                            <i class="zmdi zmdi-star "></i>
                            <i class="zmdi  zmdi-star  "></i>
                            <i class="zmdi   zmdi-star "></i>
                            <i class="zmdi   zmdi-star "></i>
                            <i class="zmdi   zmdi-star "></i>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="client-info">
                            <p class="mb-4">We are new to  Business Suite and loving it. Unlike other paid or even free online project management software, the team is always very helpful and gets back to us quickly whenever we have questions. Thanks for the great product and service! Great product and great service!</p>
                            <h5 class="mb-1">Christina Christophi</h5>
                        </div>
                        <div class="rating text-warning">
                            <i class="zmdi zmdi-star "></i>
                            <i class="zmdi  zmdi-star  "></i>
                            <i class="zmdi   zmdi-star "></i>
                            <i class="zmdi   zmdi-star "></i>
                            <i class="zmdi   zmdi-star "></i>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="client-info">
                            <p class="mb-4">Finding a task manager that was cost-effective and that met our requirements for our agency was difficult due to the number of options in the market! That’s until we found Business Suite. Its UX is extremely easy to navigate for a growing team and the client list and email integration is perfect for the 100+ clients and 230 odd tasks a day for us.</p>
                            <h5 class="mb-1">angela whatson</h5>
                        </div>
                        <div class="rating text-warning">
                            <i class="zmdi zmdi-star "></i>
                            <i class="zmdi  zmdi-star  "></i>
                            <i class="zmdi   zmdi-star "></i>
                            <i class="zmdi   zmdi-star "></i>
                            <i class="zmdi   zmdi-star "></i>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="client-info">
                            <p class="mb-4">A clear workflow and team collaboration is vital within our business. Since using Business Suite, workflow productivity, collaboration and transparency within our teams has increased. We don’t know what we did without it!</p>
                            <h5 class="mb-1">angela whatson</h5>
                        </div>
                        <div class="rating text-warning">
                            <i class="zmdi zmdi-star "></i>
                            <i class="zmdi  zmdi-star  "></i>
                            <i class="zmdi   zmdi-star "></i>
                            <i class="zmdi   zmdi-star "></i>
                            <i class="zmdi   zmdi-star "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Cta -->
<section class="cta-section position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-12 mb-30">
                <h3 class="mb-4">Managing Business Has Never Been So Easy.</h3>
                <p class="mr-lg-5 pr-lg-5 mb-0">Don&#039;t hesitate, Our experts will show you how our application can streamline the way your team works.</p>
            </div>
            <div class="col-lg-3 offset-lg-1 text-lg-right col-12 mb-30">
                <a href="signup.html" class="btn btn-custom btn-lg wow pulse" data-wow-delay="0.4s">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>
